header {
    background-color: #244751;
    color: #E8FDFF;
}
body {
    background-color:whitesmoke;
}
main {
    background-color: white;
    padding: 16px;
}
.finstagram-post{
    margin-bottom: 48px;
}
.finstagram-post .user-info img {
  border-radius: 50%;
}